<div class="container">
  <div id="grad1" class="jumbotron">
    <h1 class="text-center" style="color: rgb(255,110,110)">TASK MANAGER</h1>
      <p class="text-center">
        A GREAT WAY TO STAY ORGANIZED
      </p>

      <p class="text-center">
        <a class="btn btn-primary" href="/signup">Sign Up</a> or
        <a class="btn btn-primary" href="/login">Log In</a>
      </p>
  </div>
